@{
	ViewData["Title"] = "Milestone";
	Project project = new Project();
	var topics = ViewData["ProjectTopics"] as IEnumerable<Project>;

}


<Partial name="_MilestoneHeader" />
<Partial name="_Sidebar" />

 <div class="content-body">
			<div class="container-fluid">
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Project</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Topic Approval</a></li>
					</ol>
				</div>
				<!-- row -->

				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Topic Approval</h4>
								<button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#basicModal">Add Topic</button>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-responsive-md">
										<thead>
											<tr>
												<th><strong>MATRIC NO</strong></th>
												<th><strong>PROJECT TOPIC</strong></th>
												<th><strong>UPLOADED PROPOSAL</strong></th>
												<th><strong>STATUS</strong></th>
												<th><strong>REMARK</strong></th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											@if(topics!=null)
											{
												@foreach (var item in @topics)
												{
													<tr>
														<td>@item.Matric</td>
														<td>@item.Topic</td>
														<td>@item.FileUrl</td>
														@if (@item.Status.Equals("Approved"))
														{
															<td><span class="badge light badge-success">@item.Status</span></td>
														}
														else if (@item.Status.Equals("Rejected"))
														{
															<td><span class="badge light badge-danger">@item.Status</span></td>
														}
														else if (@item.Status.Equals("Submitted"))
														{
															<td><span class="badge light badge-primary">@item.Status</span></td>
														}
																<td>@item.Remark</td>
														<td>
															<div class="dropdown">
																<button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
																	<svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><circle fill="#000000" cx="5" cy="12" r="2" /><circle fill="#000000" cx="12" cy="12" r="2" /><circle fill="#000000" cx="19" cy="12" r="2" /></g></svg>
																</button>
																<div class="dropdown-menu">
																	<a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#basicModal">Edit</a>
																	<a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#basicModal">Delete</a>
																</div>
															</div>
														</td>
													</tr>
												}
											}
										
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


<!-- Modal -->
<div class="modal fade" id="basicModal">
	<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Project Topic</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
				<form asp-action="AddTopic" method="post" enctype="multipart/form-data">
						<input asp-for="@project.UserId" name="UserId" type="hidden" class="form-control">
						<input asp-for="@project.ProjectId" name="ProjectId" type="hidden" class="form-control">
						<input asp-for="@project.Matric" name="Matric" value="@CurrentUser.UserName" class="form-control">

						<div class="row">
							<div class="col-lg-6">
								<div class="mb-3">
									<label class="text-black font-w600 form-label">Project Topic <span class="required">*</span></label>
									<input asp-for="@project.Topic" name="Topic" type="text" class="form-control" placeholder="Topic">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="mb-3">
									<label class="text-black font-w600 form-label">Upload Proposal <span class="required">*</span></label>
									<input asp-for="@project.File" name="File" type="file" placeholder="Topic" class="form-file-input form-control">

								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Add</button>
							</div>
						</div>
					</form>
				</div>
			</div>
	</div>
</div>

@*@section Scripts{

	<script>

		$(document).ready(function(){
			$ajax({
			type:"POST",
			url:"@Url.Action("AddTopic")",
			dataType:"json",
			data: { Topic = @project.Topic, File = @project.File, Matric = @project.Matric, ProjectId= @project.ProjectId, UserId = @project.UserId},
			success: function(result){
				console.log(result)
			},
			error:function(req,status,error){
				console.log(status)
			}})})
		
	</script>
}*@