@inject IFileHelper _file;

@{
    ViewData["Title"] = "Chapter Details";
    var prjt = ViewData["chapter"] as Chapter;

    Chapter chapter = new Chapter();
}

<Partial name="_ProjectDetailsHeader" />
<Partial name="_Sidebar" />

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card overflow-hidden">
                            <div class="company-profile">
                                <img src="~/assets/images/back1.jpg" alt="">
                            </div>
                            <div class="card-body">
                                <div class="row border-bottom pb-5">
                                    <div class="col-xl-8 col-lg-9">
                                        <div>
                                            @if (prjt != null)
                                            {
                                                <h4 class="fs-32 font-w700">@prjt.Topic</h4>
                                                <span class="mb-2 d-block">
                                                    Created by
                                                    @foreach (var item in @prjt.Project.Students)
                                                    {
                                                        @item.MatricNo <i> - </i>  @item.MatricNo
                                                    }
                                                </span>
                                            }
                                            <div class="workload-button">
                                                <a href="javascript:void(0);" class="btn btn-primary btn-rounded">New<i class="fas fa-caret-down ms-2 scale5"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-3 info">
                                        <div class="kanbanimg1">
                                            <span><i class="fas fa-info-circle me-3"></i>Project Details</span>
                                            <div class="dropdown ms-3">
                                                <div class="btn-link" data-bs-toggle="dropdown">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5" />
                                                        <circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5" />
                                                        <circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5" />
                                                    </svg>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                                                    <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xl-3 mt-4 col-sm-6">
                                        <div class="d-flex">
                                            <span><i class="far fa-clock scale5 text-primary mt-2 me-3"></i></span>
                                            <div>
                                                <h4 class="fs-18 font-w500 text-black">Project Started on</h4>
                                                @if (prjt != null)
                                                {
                                                    <span> @prjt.DateSubmitted.ToLongDateString()</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 mt-4 col-sm-6">
                                        <div class="d-flex">
                                            <span><i class="far fa-clock scale5 text-primary mt-2 me-3"></i></span>
                                            <div>
                                                <h4 class="fs-18 font-w500 text-black">Due date</h4>
                                                @if (prjt != null)
                                                {
                                                    <span> @prjt.DateSubmitted.AddMonths(5).ToLongDateString()</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-description">
                                    <span class="fs-18 font-w500 mb-3 d-block">@prjt.ChapterName<span style="float:right; margin-bottom:12px;"><button class="btn light btn-primary btn-sl-sm me-2" type="button" onclick="location.reload()">Click me if you cant see file</button></span></span>

                                    @if (prjt != null)
                                    {

                                        <p class="fs-18 font-w500">
                                            <div>
                                                <ejs-pdfviewer id="pdfviewer" serviceUrl="/api/PdfViewer" isAnnotationToolbarOpen="true" enableThumbnail="false" enableAnnotation="true" enablePrint="false" documentPath="@ViewBag.fileName"></ejs-pdfviewer>

                                            </div>
                                        </p>
                                    }

                                </div>
                                @if (prjt != null)
                                {
                                    <div class="message1">
                                        <textarea class="form-control" id="rTextarea" rows="4" placeholder="Type comment here..."></textarea>
                                        <input type="hidden" id="status" value="Pending" />
                                        <input type="hidden" id="chapterId" value="@prjt.ChapterId" />
                                    </div>
                                    <div class="d-flex justify-content-end mt-4">
                                        <button class="btn btn-primary btn-sl-sm me-2" id="noloader" type="button" onclick="downloadDocument()">Save Changes</button>
                                        <button class="btn btn-secondary btn-sl-sm me-2" type="button" onclick="saveCRemark()"><span class="me-2"><i class="fa fa-paper-plane"></i></span>Send</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/myscripts.js"></script>
