@using SPMS.Helpers;
@using Domain.Interfaces;

@inject FileHelper _file;

@{
    ViewData["Title"] = "Milestone";
    var proposal = ViewData["projectproposal"] as IEnumerable<Project>;
    Project pjt = new Project();

}
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
</head>


<Partial name="_MilestoneHeader" />
<Partial name="_Sidebar" />




<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Project</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">proposal</a></li>
            </ol>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Project Topic</h4>
                        <span class="text-danger">@TempData["Msg"]</span>
                        @if (CurrentStudent.Supervisor != null)
                        {
                            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#basicModal">Add Topic</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" disabled data-bs-target="#basicModal">Add Topic</button>
                        }
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-md">
                                <thead>
                                    <tr>
                                        <th><strong>Matric</strong></th>
                                        <th><strong>Topic</strong></th>
                                        <th><strong>Proposal</strong></th>
                                        <th><strong>Status</strong></th>
                                        <th><strong>Remark</strong></th>
                                        <th><strong></strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @proposal)
                                    {
                                        if (@item.Students.Any(x => x.MatricNo.Equals(CurrentStudent.MatricNo)))
                                        {
                                            <tr>
                                                <td>@CurrentStudent.MatricNo</td>

                                                <td>@item.Topic</td>
                                                <td>
                                                    <a href="@item.FileUrl" download class="btn light btn-info shadow btn-xs sharp me-1" data-toggle="tooltip" data-placement="top" title="Click to download original doc">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </td>
                                                @if (@item.Status.Equals("Approved"))
                                                {
                                                    <td><div class="d-flex align-items-center"><i class="fa fa-circle text-success me-1"></i> @item.Status</div></td>
                                                }
                                                else if (@item.Status.Equals("Rejected"))
                                                {
                                                    <td><div class="d-flex align-items-center"><i class="fa fa-circle text-danger me-1"></i> @item.Status</div></td>
                                                }
                                                else
                                                {
                                                    <td><div class="d-flex align-items-center"><i class="fa fa-circle text-warning me-1"></i>  @item.Status</div></td>
                                                }
                                                <td>
                                                    <a href="" data-bs-toggle="modal" data-bs-target="#remarkModal_@item.ProjectId" class="btn light btn-info shadow btn-xs sharp me-1" data-toggle="tooltip" data-placement="top" title="Click to view supervisor's comment">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>

                                                    </a>&nbsp;
                                                    <a href="@_file.ManipulateFile(@item.FileUrl,"Pdf")" download class="btn light btn-info shadow btn-xs sharp me-1" data-toggle="tooltip" data-placement="top" title="Click to download supervisor's changes">
                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                    </a>

                                                    <div class="modal fade" id="remarkModal_@item.ProjectId">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Remark</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>@item.Remark</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex">
                                                        @if (@item.Status != "Approved")
                                                        {
                                                            <a data-bs-toggle="modal" data-bs-target="#editModal_@item.ProjectId" class="btn btn-primary shadow btn-xs sharp me-1">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        }

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="editModal_@item.ProjectId">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Edit Project Topic</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form asp-action="addeditproject" method="post" enctype="multipart/form-data">
                                                                            <input asp-for="@pjt.Status" name="Status" value="Pending" type="hidden" class="form-control">
                                                                            <input asp-for="@pjt.ProjectId" name="ProjectId" value="@item.ProjectId" type="hidden" class="form-control">


                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">
                                                                                        <label class="text-black font-w600 form-label">Project Topic <span class="required">*</span></label>
                                                                                        <textarea placeholder="@item.Topic" name="Topic" class="form-control" rows="4" id="comment" required>@item.Topic</textarea>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-4">
                                                                                        <label class="text-black font-w600 form-label">Select Project Student(s) Matric<span class="required">*</span></label>
                                                                                    </div>
                                                                                    <select asp-for="@pjt.Students" class="multi-select" name="Student@(item.ProjectId)" id="selectedValues@(item.ProjectId)" multiple="multiple" id="studentId" asp-items="@(new SelectList(ViewBag.Students,"StudentId","MatricNo"))" required>
                                                                                        @if (ViewBag.Students != null)
                                                                                        {
                                                                                            @*<option value="selectedValues(@pjt.Students)"> @pjt.Matric </option>*@
                                                                                            <option value="Student(@pjt.Students)"> @pjt.Matric </option>

                                                                                        }
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">
                                                                                        <label class="text-black font-w600 form-label">Upload Proposal <span class="required">*</span></label>
                                                                                        <input asp-for="@pjt.File" name="File" placeholder="@item.FileUrl" value="@item.FileUrl" type="file" accept=".doc, .docx" required class="form-file-input form-control">

                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                                                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <a hx-delete="/graduate/project/delete/@item.ProjectId" onclick="showPreloader()" class="btn btn-danger shadow btn-xs sharp">
                                                            <i class="fa fa-trash"></i>
                                                        </a>

                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="basicModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Project Topic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form asp-action="addeditproject" method="post" enctype="multipart/form-data">
                    <input asp-for="@pjt.Matric" name="Matric" value="@CurrentUser.UserName" type="hidden" class="form-control">
                    <input asp-for="@pjt.Status" name="Status" value="Pending" type="hidden" class="form-control">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="text-black font-w600 form-label">Project Topic <span class="required">*</span></label>
                                <textarea asp-for="@pjt.Topic" name="Topic" type="text" class="form-control" rows="4" id="comment" required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-4">
                                <label class="text-black font-w600 form-label">Select Project Student(s) Matric<span class="required">*</span></label>
                            </div>
                            <select asp-for="@pjt.Students" class="multi-select" name="student" multiple="multiple" id="studentId" asp-items="@(new SelectList(ViewBag.Students,"StudentId","MatricNo"))" required>
                                @if (ViewBag.Students != null)
                                {
                                    <option value="@pjt.Students"> @pjt.Matric </option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="text-black font-w600 form-label">Upload Proposal <span class="required">*</span></label>
                                <input asp-for="@pjt.File" name="File" type="file" accept=".doc,.docx," placeholder="Topic" required class="form-file-input form-control">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<Partial name="_NoticePartial" />

<script src="~/js\loading.js"></script>