@{
    ViewData["Title"] = "ProjectArchive";
    var archive = ViewData["projectsarchive"] as IEnumerable<ProjectArchive>;

}
<head>
    <link href="~/assets/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
  
</head>

<Partial name="_ProjectArchiveHeader" />
<Partial name="_Sidebar" />

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Project</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">archive</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Department's Project List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example4" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                    <th>Code</th>
                                    <th>Title</th>
                                    <th>Department </th>
                                    <th>Case Study</th>
                                    <th>Year</th>
                                    <th>File </th>
                                    <th>Date Submitted</th>
                                    </tr>
                                 </thead>
                                <tbody>
                                    @foreach (var item in archive.Where(x =>x.Department.Name.Equals(CurrentStudent.Department.Name)))
                                    {
                                        <tr>
                                        <td>@item.ProjectCode</td>
                                        <td>@item.Title</td>
                                        <td>@item.Department.Name</td>
                                        <td>@item.CaseStudy</td>
                                        <td>@item.Year</td>
                                        <td><span class="badge light badge-success"><a href="@item.FileUrl" download>Download</a></span></td>
                                        <td>@item.DateSubmitted</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

