@{
	ViewData["Title"] = "Supervisors";
	Supervisor sup = new Supervisor();
	var lstusers = ViewData["Supervisors"] as IEnumerable<Supervisor>;
}

<Partial name="_DepartmentHeader" />
<Partial name="_Sidebar" />

 <div class="content-body">
			<div class="container-fluid">
				
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Table</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Datatable</a></li>
					</ol>
				</div>
				<!-- row -->
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Profile Supervisors</h4>
								<div>
									<a asp-action="create" class="btn btn-primary mb-2">Upload Csv</a>
									<button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#basicModal">Add</button>
								</div>

							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="example3" class="display" style="min-width: 845px">
										<thead>
											<tr>
												<th>Name</th>
												<th>Department</th>
												<th>File No</th>
												<th>Mobile No</th>
												<th>Email</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in lstusers)
											{
												<tr>
													<td>@item.FullName</td>
													@if(item.Department!=null)
													{
														<td>@item.Department.Name</td>
													}
													<td>@item.FileNo</td>
													<td><a href="javascript:void(0);"><strong>@item.PhoneNumber</strong></a></td>
													<td><a href="javascript:void(0);"><strong>@item.Email</strong></a></td>
													<td>
														<div class="d-flex">
															<a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
															<a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
														</div>
													</td>
												</tr>
											}
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
			</div>
</div>

<div class="modal fade" id="basicModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Supervisors</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form asp-action="uploadfile" method="post" enctype="multipart/form-data">
					
					<div class="row">
						
						<div class="col-lg-12">
							<div class="mb-3">
								<label class="text-black font-w600 form-label">Upload Proposal <span class="required">*</span></label>
								<input name="File" type="text" placeholder="Topic" required class="form-file-input form-control">

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
